extends ../shared/template
block content

  button.blue Hide Form
  button#show Show Form
  .div
    form(method='post', action='/recipes')
      input(name='name', type='text', placeholder='Chicken', autofocus=true)
      input(name='photo', type='text', placeholder='http://')
      input(name='ingredients', type='text', placeholder='enter ingredients')
      label Directions
      textarea(name='directions')
      button.addR Add Recipe
  #recipes
    each recipe in recipes
      include recipe


block scripts
  script(src='/js/user/home.js')

